@using React.Web.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="linksWrapper">
    @Html.ActionLink("Render", "Render")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Css", "Css")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Lifecycle", "Lifecycle")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Forms", "Forms")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("State", "State")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Events", "Events")    
</div>