@model Entities.Transaction
@{
    ViewBag.Title = "Details";
}

<h3>@Model.TrsNo</h3>
<p>@Model.accNo</p>
<p>@Model.Asmac1</p>
<p>@Model.Sum</p>
<p>@Model.Date.ToString("yyyy-MM-dd")</p>
<p>@Model.Details</p>
